@import './variables.scss';

.App.light {
  background: linear-gradient(
    108.13deg,
    #faf4fe 1%,
    #e4fdfe 37.66%,
    #f5fdf8 72.27%,
    #e9ecfa 98.74%
  );
  color: $background-color;
}

.App.dark {
  background: linear-gradient(
    108.13deg,
    #2f1514 1%,
    #021b1f 37.66%,
    #1a240f 72.27%,
    #000230 98.74%
  );
  color: $text-color;
}

.card.light {
  background-color: $cards-color-light;
}

.card__info.light {
  color: $background-color;
}

.accordion__button.light {
  background-color: $buttons-color-green;
  color: $background-color;
}

.accordion__title.light {
  color: $background-color;
}

.accordion__content.light {
  background-color: $cards-color-light;
}

.explore_page__navlink.active.light {
  background-color: $cards-color-light;
}

.pagination__color_button.light {
  background-color: $cards-color-light;
}

.pagination__color_button:hover.light {
  background-color: $dark-color;
}

.sort__item.light {
  background-color: $buttons-color-green;
  color: $background-color;
}

.news__card.light {
  background-color: $cards-color-light;
}

.news__card_text.light {
  color: $background-color;
}

.homepage_categories__card.light {
  background-color: $cards-color-light;
  border: none;
}

.homepage_news__card.light {
  background-color: $cards-color-light;
}

.footer.light,
.header__exp.light {
  background-color: $cards-color-light;
}

.back_button.light:hover {
  color: $background-color;
}

.back_button.light:hover::before,
.back_button.light:hover::after {
  background-color: $background-color;
}

.footer__copyright.light {
  color: $background-color;
}
