@import "../../../assets/SCSS/variables.scss";


.homepage_characters {

  &__title {
    text-align: left;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
  }
}
