@import '../../assets/SCSS/variables.scss';

.search_info {
  @include montserrat-font(18px, 500, 0em);
  // text-align: center;
  margin: 0 0 2rem 0;

  &__request {
    color: $buttons-color-blue;
    font-weight: 700;
  }
}