@import '../../assets/SCSS/variables.scss';

.about_page {
  &__wrapper {
    display: grid;
    grid-template-columns: 1.8fr 1.2fr;
    gap: 1rem;
align-items: center;
  }
  &__info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
margin-top: 1rem;

  }
  &__title {
    @include montserrat-font(32px, 500, 0);
    margin-bottom: 1rem;
    color: $buttons-color-green;
  }

  &__subtitle {
    @include montserrat-font(26px, 500, 0);
    color: $buttons-color-blue;


  }

  &__info {
    @include montserrat-font(22px, 300, 0);
    
    
    
  }

  &__list {
    margin: 0;
    list-style-type: square;
  }
  &__list_item {
    @include montserrat-font(20px, 300, 0);
    margin: 0.2rem 0;

  }

  &__img_wrapper {
    // max-width: 30rem;
    img {
      width: 100%;
    }
  }
}
