@import '../../assets/SCSS/variables.scss';

.card {
  display: flex;
  flex-direction: column;
  gap: 10px;
  min-width: 100%;
  height: fit-content;
  background-color: $cards-color;
  border-radius: 0.5rem;
  text-decoration: none;
  overflow: hidden;
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    transform: translateY(-0.3rem);
  }

  &:hover .card__name {
    background-color: $buttons-color-blue;
  }

  &__img_wrapper {
    position: relative;
    z-index: 10;
    height: 17rem;
  }

  &__status {
    position: absolute;
    right: 5px;
    bottom: 5px;
    padding: 0.1rem 0.3rem;
    @include jura-font(16px, 700, -0.04em);
    color: $background-color;

    &_alive {
      background-color: $buttons-color-green;
    }

    &_dead {
      background-color: #a82525;
    }

    &_unknown {
      background-color: #9c9b9b;
    }
  }

  &__cover_wrapper {
    position: relative;
    z-index: 3;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
  }

  &__cover_name_wrapper {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    display: flex;
    align-items: center;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.434);
  }

  &__cover_name_wrapper_location {
    justify-content: center;
  }

  &__cover_name__episode {
    @include montserrat-font(50px, 700, -0.04em);
    color: rgba(0, 0, 0, 0.416);
  }

  &__cover_name__location {
    padding: 2% 5%;
    @include jura-font(22px, 700, -0.04em);
    color: $buttons-color-green;
    backdrop-filter: blur(10px);
    border-radius: 0.5rem;
    border: 2px solid rgba(98, 98, 98, 0.0745098039);
  }

  &__info_wrapper {
    position: relative;
    height: 100%;
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__info__news_wrapper {
    gap: 1.5rem;
  }

  &__name {
    padding: 5px;
    background-color: $buttons-color-green;
    @include jura-font(20px, 700, -0.04em);
    color: $background-color;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: all 0.2s ease;
  }

  &__name_location {
    background-color: $buttons-color-blue;
  }

  &:hover .card__name_location {
    background-color: $buttons-color-green;
  }

  &__info {
    @include montserrat-font(14px, 400, 0em);
    padding: 3px;
    color: $text-color;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
}

.news {
  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }

  &__card {
    position: relative;
    min-width: 100%;
    display: flex;
    flex-direction: column;
    gap: 18px;
    background-color: $dark-color;
    text-decoration: none;
    cursor: pointer;

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      width: 10%;
      height: 10%;
      border: 3px solid $buttons-color-green;
      border-top: none;
      border-left: none;
      transition: all 0.4s ease;
    }

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 0%;
      height: 0%;
      border: 3px solid $buttons-color-blue;
      border-right: none;
      border-bottom: none;
      transition: width 0.4s, height 0.4s ease;
      opacity: 0;
    }

    &:hover::after,
    &:hover::before {
      width: 99.2%;
      height: 99.2%;
      opacity: 0.7;
    }
  }

  &__card_text {
    @include montserrat-font(16px, 300, 0em);
    color: $text-color;
    flex: 1;
  }

  &__card_button {
    position: relative;
    width: fit-content;
    padding-right: 10px;
    @include montserrat-font(16px, 300, 0em);
    color: $grey-color;

    &::after {
      content: '';
      position: absolute;
      top: 3px;
      right: 0;
      width: 2px;
      height: 8px;
      background-color: $grey-color;
      transform: rotate(-45deg);
    }

    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      right: 0;
      width: 2px;
      height: 8px;
      background-color: $grey-color;
      transform: rotate(45deg);
    }
  }
}

@media screen and (max-width: 912px) {
  .news {
    &__cards {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .empty {
    display: none;
  }

  .sort {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media screen and (max-width: 550px) {
  .news {
    &__cards {
      grid-template-columns: 1fr;
    }
  }
}
