@import "../../assets/SCSS/variables.scss";

.episode_card {
  text-decoration: none;
  background-color: $cards-color;
  border-radius: 0.5rem;
  overflow: hidden;
  &__img_container {
    height: 14rem;
    position: relative;
    z-index: 3;
    overflow: hidden;
  }

  &__img {
    width: 100%;
    // filter: blur(3px);
object-fit: cover;
    // backdrop-filter: blur(10px);

    height: 100%;
  }

  &__name_wrapper {
    background-color: rgba(0, 0, 0, 0.434);
    position: absolute;
    top: 0;
    display: flex;
    // justify-content: center;
    align-items: center;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
  }
  
  &__name {
    @include montserrat-font(50px, 700, -0.04em);
    // backdrop-filter: blur(10px);
    // clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    // color: $text-color;
    // color: $buttons-color-green;
    // color: black;
    // text-shadow: 0px 0 2px rgba(0, 0, 0, 0.632);
    // color: transparent;
    color: rgba(0, 0, 0, 0.416);

    // backdrop-filter: blur(10px);
    // border-radius: 0.5rem;
    // border: 2px solid rgba(98, 98, 98, 0.0745098039);
    // background-color: rgba(0, 0, 0, 0.437);
    // padding: 2% 5%;
    // padding: 15%;

    // &::after {
    //   content: '';
    //   width: 40%;
    //   height: 15%;
    //   /* top: 50;
    //   left: 0; */
    //   background-color: black;
    //   position: absolute;
    //   z-index: -1;
    // }
  }

  &__info__name {
    background-color: $buttons-color-green;
    @include jura-font(20px, 700, -0.04em);
    color: $background-color;
    padding: 5px;
  flex: 1;}


  &__info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
  }

  &__info {
    @include montserrat-font(14px, 400, 0em);
    color: $text-color;
  }
}
