@import '../../assets/SCSS/variables.scss';

.filter_form {
  &__title {
    margin-bottom: 1rem;
    @include jura-font(24px, 700, 0em);
    text-align: center;
  }

  &__clear_btn {
    margin-bottom: 1rem;
    @include montserrat-font(16px, 300, 0em);
    color: $grey-color;
    text-align: center;
    cursor: pointer;
  }

  &__inputs {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
  }
}

.option_btn {
  &__radio {
    appearance: none;

    &:checked + .option_btn__label {
      background-color: $buttons-color-blue;
      color: $background-color;
      font-weight: 500;
    }
  }

  &__label {
    @include montserrat-font(16px, 400, 0em);
    display: inline-block;
    padding: 5px;
    width: 100%;
    cursor: pointer;

    &:hover {
      color: $buttons-color-blue;
    }
  }
}
