@import '../../assets/SCSS/variables.scss';

.back_button {
  position: relative;
  width: fit-content;
  padding-left: 10px;
  display: inline-block;
  @include montserrat-font(18px, 400, 0);
  color: $grey-color;
  cursor: pointer;
  transition: all 0.1s ease;

  &::before {
    content: '';
    position: absolute;
    top: calc(50% - 2px);
    left: 0;
    width: 7px;
    height: 2px;
    background-color: $grey-color;
    transform: rotate(-45deg);
    transition: all 0.1s ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: calc(50% + 2px);
    left: 0;
    width: 7px;
    height: 2px;
    background-color: $grey-color;
    transform: rotate(45deg);
    transition: all 0.1s ease;
  }

  &:hover::after,
  &:hover::before {
    background-color: $text-color;
  }

  &:hover {
    color: $text-color;
  }
}
