@import '../../assets/SCSS/variables.scss';

.location_page {
  &__info {
@include montserrat-font(20px, 400, 0);
display: flex;
flex-direction: column;
gap: 0.8rem;
justify-content: center;
// align-items: center;

// position: relative;
  }

  &__name {
    @include jura-font(40px, 700, -0.04em);
    color: $buttons-color-green;

  }

  &__about {

  }

  &__about_title {
    font-size: 24px;
    color: $buttons-color-blue;
@include montserrat-font(26px, 300, 0);

    margin-bottom: 1.5rem;
    // align-self: flex-start;
    // justify-self: flex-start;
    // position: absolute;
    // top: 0;
    // left: 0;
  }

  &__data {
    font-size: 14px;
    color: rgba(141, 141, 141, 0.5);
    margin-bottom: 0.3rem;
  }
}