@import "../../assets/SCSS/variables.scss";

.character {
  &__card {
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
    background: rgba(255, 255, 255, 0.2);
    border-radius: 0.5rem;
    background-color: $cards-color;
  }

  &__card_img_wrapper {
    height: 14rem;
  }

  &__card_img {
    width: 100%;
    height: 100%;
    border-top-right-radius: 0.5rem;
    border-top-left-radius: 0.5rem;
    object-fit: cover;
  }

  &__info_wrapper {
    padding: 10px 20px 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  &__card_name {
    background-color: $buttons-color-green;
    @include jura-font(20px, 700, -0.04em);
    color: $background-color;
    padding: 5px;
  }

  &__card_about {
    @include montserrat-font(14px, 400, 0em);
    padding: 3px;
    width: fit-content;
  }
}
