@import '../../assets/SCSS/variables.scss';

.header {
  &__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  &__links {
    display: flex;
    gap: 40px;
  }

  &__link {
    @include jura-font(18px, 700, 0em);
    text-decoration: none;
    position: relative;

    &::after {
      transition: all 0.3s ease;
      content: '';
      position: absolute;
      bottom: -0.5rem;
      left: 0;
      width: 0%;
      height: 3px;
      background-color: $buttons-color-blue;
    }

    &.active {
      color: $buttons-color-green;

      &::after {
        content: '';
        position: absolute;
        bottom: -0.5rem;
        left: 0;
        width: 100%;
        height: 3px;
        background-color: $buttons-color-blue;
      }
    }

    &:hover {
      color: $buttons-color-green;
    }
  }

  &__controls {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  &__lang {
    @include jura-font(18px, 700, 0em);
    cursor: pointer;
  }

  &__theme {
    width: 1.5rem;
    height: 1.5rem;
    cursor: pointer;

    svg {
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 850px) {
  .header__links {
    backdrop-filter: blur(10px);
    
    position: fixed;
    right: 0;
    top: 0;
    bottom: 0;
    left: 0;
    flex-direction: column;
    gap: 0.5rem;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.647);
    z-index: 100;
    // opacity: 0;
    // visibility: hidden;
    transition: transform 0.4s ease;
    transform: translateX(-100%);
  }

  .header__link {
    font-size: 24px;
  }

  .header__links.active {
    
    // right: 0;
    // opacity: 1;
    // visibility: visible;
    transform: translateX(0);
  }

  .header__controls {
    right: 0;

    // opacity: 0;
    // visibility: hidden;
    display: flex;
    position: absolute;
    top: 62vh;
    bottom: 0;
    left: 0;
    gap: 0.5rem;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 100;
    height: fit-content;
    
    transition: transform 0.5s ease;
    transform: translateX(-100%);
  }

  .header__controls.active {
    // right: 0;
    // opacity: 1;
// visibility: visible;
    transform: translateX(0);

  }
}
