@import '../../assets/SCSS/variables.scss';

.burger_button {
  position: relative;
  right: 0;
  z-index: 110;
  width: 30px;
  height: 30px;
  display: none;
  padding: 10px;
  cursor: pointer;
}

.burger_btn {
  position: absolute;
  top: 46%;
  left: 18%;
  z-index: 110;
  width: 20px;
  height: 2px;
  background-color: $text-color;

  &::before {
    content: '';
    position: absolute;
    top: -8px;
    z-index: 110;
    width: 20px;
    height: 2px;
    background-color: $text-color;
    transform: rotate(0);
    transition: all 0.5s ease;
  }

  &::after {
    content: '';
    position: absolute;
    top: 8px;
    z-index: 110;
    width: 20px;
    height: 2px;
    background-color: $text-color;
    transform: rotate(0);
    transition: all 0.5s ease;
  }
}
.burger_btn.light {
  background-color: $background-color;

  &::before {
    background-color: $background-color;
  }

  &::after {
    background-color: $background-color;
  }
}

.burger_btn.active {
  background-color: transparent;
  transition: transform 0.5s ease;

  &::before {
    top: -6px;
    transform: rotate(45deg);
    transform-origin: 0% 50%;
    transition: transform 0.5s ease;
  }

  &::after {
    top: 8px;
    transform: rotate(-45deg);
    transform-origin: 0% 50%;
    transition: transform 0.5s ease;
  }
}

@media screen and (max-width: 850px) {
  .burger_button {
    display: block;
  }
}
