@import '../../assets/SCSS/variables.scss';

.explore_page {
  &__container {
    display: flex;
    margin-top: 1rem;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
  }

  &__navlink_container {
    display: flex;
    justify-content: center;
    gap: 1rem;
    padding: 0;

    li {
      list-style: none;
    }
  }

  &__navlink {
    padding: 5px 10px;
    @include montserrat-font(15px, 500, 0em);
    text-align: center;
    text-decoration: none;
    cursor: pointer;

    &.active {
      color: $buttons-color-blue;
      background-color: $cards-color;
      border-radius: 4px;
    }
  }
}

.search_page_cards__container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 100%;
  height: fit-content;
}

.search_page__flex_container {
  margin-top: 3rem;
  gap: 3rem;
  display: grid;
  grid-template-columns: 0.5fr 2fr;
}

.search_page__cards_info {
  width: 100%;
}

@media screen and (max-width: 920px) {
  .search_page_cards__container {
    grid-template-columns: repeat(2, 1fr);
  }

  .search_page__flex_container {
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (max-width: 800px) {
  .search_page_cards__container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 620px) {
  .explore_page__container {
    flex-direction: column;
  }
}

@media screen and (max-width: 500px) {
  .search_page__flex_container {
    grid-template-columns: 1fr;
  }
}

@media screen and (max-width: 380px) {
  .explore_page__navlink_container {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 0.2rem;

    li {
      width: 100%;

      a {
        display: block;
        padding: 0.8rem;
      }
    }
  }
}

@media screen and (max-width: 330px) {
  .search_page__flex_container {
    grid-template-columns: 1fr;
  }
}
