@import '../../../assets/SCSS/variables.scss';

.homepage_info {
  &__preview {
    display: grid;
    grid-template-columns: 0.9fr 1.1fr;
    gap: 2rem;
    align-items: center;
  }

  &__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }

  &__subtitle {
    @include jura-font(30px, 700, -0.03em);
  }

  &__title {
    @include jura-font(42px, 700, -0.04em);
  }

  &__button {
    position: relative;
    z-index: 2;
    display: inline-block;
    padding: 12px 23px;
    @include montserrat-font(20px, 800, -0.01em);
    color: $buttons-color-blue;
    transition: all 0.2s ease;
    cursor: pointer;

    &::before {
      content: '';
      position: absolute;
      top: 50%;
      left: 0px;
      transform: translateY(-50%);
      width: 15%;
      height: 100%;
      border: 3px solid $buttons-color-green;
      border-right: none;
      border-radius: 0.3rem;
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      transition: all 0.3s ease;
    }

    &::after {
      content: '';
      position: absolute;
      top: 50%;
      right: 0px;
      transform: translateY(-50%);
      width: 15%;
      height: 100%;
      border: 3px solid $buttons-color-green;
      border-left: none;
      border-radius: 0.3rem;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      transition: all 0.3s ease;
    }

    &:hover {
      box-shadow: 0 0 20px 5px $cards-color;

      &::before {
        width: 98.7%;
        border-top: 3px solid $buttons-color-green;
        border-bottom: 3px solid transparent;
        border-top-right-radius: 0.3rem;
        border-bottom-right-radius: 0.3rem;
      }

      &::after {
        width: 98.7%;
        border-bottom: 3px solid $buttons-color-green;
        border-top: 3px solid transparent;
        border-top-left-radius: 0.3rem;
        border-bottom-left-radius: 0.3rem;
      }
    }
  }

  &__image {
    animation: img infinite 2s alternate-reverse;

    /* position: relative;
    &::before {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: linear-gradient(180deg, #bedc41 0%, #42b4ca 100%);
      transform: translate3d(15px, 5px, 0) scale(0.75);
      filter: blur(70px);
      opacity: 0.5;
      transition: opacity 0.3s;
      border-radius: 25%;
    }

    &::after {
      content: "";
      z-index: -1;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      background: inherit;
      border-radius: 25%;
    } */

    img {
      max-width: 100%;
      border-radius: 25%;
    }
  }

  &__statistics {
    display: flex;
    gap: 5rem;
  }

  &__statistics_count {
    @include jura-font(40px, 700, -0.03em);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &__statistics_description {
    @include montserrat-font(13px, 300, -0.03em);
  }
}

@media (max-width: 500px) {
  .main_page {
    grid-template-columns: 1fr;
  }
}

@keyframes img {
  from {
    transform: scale(100%) rotate(-2deg);
  }
  to {
    transform: scale(105%) rotate(3deg);
  }
}

.homepage_info__image.mobile {
  display: none;
}

@media (max-width: 768px) {
  .homepage_info {
    &__preview {
      grid-template-columns: 1fr;
    }

    &__title {
      text-align: center;
    }

    &__button {
      margin-bottom: 1rem;
    }

    &__image.mobile {
      display: block;
    }

    &__image.desktop {
      display: none;
    }

    &__info {
      margin-top: 1rem;
      justify-content: center;
      align-items: center;
    }
  }
}

@media (max-width: 412px) {
  .homepage_info {
    &__title {
      font-size: 36px;
    }

    &__statistics {
      gap: 2rem;
    }
  }
}
