@import '../../assets/SCSS/variables.scss';

.search {
  &__form {
    width: fit-content;
    display: flex;
    align-items: center;
    border-bottom: 3px solid $buttons-color-blue;
  }

  &__input {
    padding: 10px 0;
    background-color: transparent;
    border: none;
    @include montserrat-font(15px, 500, -0.02em);

    &:focus {
      outline: none;
    }

    &::placeholder {
      color: inherit;
      @include montserrat-font(15px, 500, -0.02em);
    }
  }

  &__button {
    background: transparent;
    border: none;

    svg {
      margin-top: 3px;
      fill: $buttons-color-green;
    }
  }
}

@media screen and (max-width: 500px) {
  .search {
    &__form {
      width: 100%;
    }

    &__input {
      width: 100%;
    }
  }
}
