@import "../../assets/SCSS/variables.scss";

.resource_page {
  @include montserrat-font(20px, 300, 0);

  &__title {
    font-size: 30px;
    color: $buttons-color-blue;
    margin-bottom: 1.5rem;
  }

  &__cards_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  &__info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  &__info_wrapper_about {
    margin-top: 1rem;
  }

  &__parameter {
    color: rgba(161, 161, 161, 0.525);
    padding-bottom: 0.2rem;
    font-size: 16px;
  }

  &__name {
    @include jura-font(38px, 700, -0.04em);
    color: $buttons-color-green;
  }

  &__info_link {
    text-decoration: none;
    color: inherit;
    transition: all 0.1s ease;
    display: block;
    width: fit-content;

    &:hover {
      color: $buttons-color-blue;
    }
  }
}

.character_page__wrapper {
  display: flex;
  align-items: center;
  gap: 5rem;
}

.character_page__button {
  border: none;
  padding: 8px;
  margin-top: 1rem;
  cursor: pointer;
  transition: all 0.2s ease;
  border: 1px solid $buttons-color-green;
  background-color: $buttons-color-green;

  &:hover {
    background-color: transparent;
    border: 1px solid $buttons-color-green;
    color: $buttons-color-green;
  }
}

.acc {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  align-items: flex-start;
}

.accordion__character {
  //   a {
  //   @include montserrat-font(20px, 300, 0);
  // text-decoration: none;
  // color: $text-color;
  //     display: block;
  //   }
}
