@import '../../assets/SCSS/variables.scss';

.resource_page {
  @include montserrat-font(20px, 300, 0);

  &__title {
    margin-top: 1rem;
    margin-bottom: 1.5rem;
    font-size: 30px;
    color: $buttons-color-blue;
  }

  &__cards_container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
  }

  &__info_wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
  }

  &__info_wrapper_about {
    margin-top: 1rem;
  }

  &__parameter {
    padding-bottom: 0.2rem;
    font-size: 16px;
    color: $grey-color;
  }

  &__name {
    @include jura-font(38px, 700, -0.04em);
    color: $buttons-color-green;
  }

  &__info_link {
    display: block;
    width: fit-content;
    color: inherit;
    text-decoration: none;
    transition: all 0.1s ease;

    &:hover {
      color: $buttons-color-blue;
    }
  }
}

.character_page {
  &__wrapper {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr;
    align-items: center;
    gap: 5rem;
  }

  &__img {
    img {
      width: 100%;
    }
  }

  &__button {
    padding: 8px 36px;
    margin-top: 1rem;
    cursor: pointer;
    transition: all 0.2s ease;
    border: 1px solid $buttons-color-green;
    background-color: $buttons-color-green;

    &:hover {
      background-color: transparent;
      border: 1px solid $buttons-color-green;
      color: $buttons-color-green;
    }
  }
}

.acc {
  display: grid;
  grid-template-columns: 2fr 1fr;
  gap: 3rem;
  align-items: flex-start;
}

@media screen and (max-width: 920px) {
  .acc {
    grid-template-columns: 1fr;
    gap: 2rem;
  }

  .resource_page__cards_container {
    grid-template-columns: repeat(3, 1fr);
  }

  .character_page__button {
    width: fit-content;
  }
}

@media screen and (max-width: 650px) {
  .acc {
    grid-template-columns: 1fr;
  }

  .resource_page__cards_container {
    grid-template-columns: repeat(2, 1fr);
  }

  .character_page__wrapper {
    grid-template-columns: 1fr;
    gap: 1rem;
  }

  .character_page__button {
    width: fit-content;
  }
}

@media screen and (max-width: 465px) {
  .resource_page__cards_container {
    grid-template-columns: 1fr;
    gap: 1.5rem;
  }
}
