@import '~normalize.css';

@import './assets/SCSS/variables.scss';

* {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  background-color: $background-color;
  overflow-x: hidden;
  color: $text-color;
  background: linear-gradient(
    108.13deg,
    #2f1514 1%,
    #021b1f 37.66%,
    #1a240f 72.27%,
    #000230 98.74%
  );
}

p,
h1,
h2,
h3,
h4 {
  margin: 0;
}

ul,
li {
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

input {
  color: inherit;
}

.container {
  max-width: 1280px;
  height: 100%;
  margin: 0 auto;
  padding: 0 20px;
}

.main {
  flex: 1;
  margin-bottom: 1rem;
}
