@import '../../../assets/SCSS/variables.scss';

.homepage_categories {
  background: rgba(255, 255, 255, 0.04);
  padding: 60px 0 90px;

  &__title {
    text-align: center;
    grid-area: title;
  }

  &__cards {
    display: grid;
    grid-template-columns: repeat(3, 260px);
    grid-template-areas:
      'title title title'
      'card_1 card_2 card_3';
    justify-content: center;
    column-gap: 3rem;
    box-sizing: border-box;
  }

  &__card.card_1 {
    grid-area: card_1;
  }

  &__card.card_2 {
    grid-area: card_2;
  }

  &__card.card_3 {
    grid-area: card_3;
  }

  &__card {
    background: rgba(255, 255, 255, 0.082);
    padding: 8px 8px 30px;
    backdrop-filter: blur(20px);
    border-radius: 0.5rem;
    border: 2px solid #62626213;
    text-decoration: none;
    transition: all 0.3s ease;
    cursor: pointer;

    &:hover {
      box-shadow: 0 0 20px 5px #90c74810;
      transform: scale(103%);
    }
  }

  &__card_img__container {
    height: 14rem;
  }

  &__card_img {
    border-radius: 0.5rem;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  &__card_title__wrapper {
    display: block;
    padding-top: 30px;
    text-align: center;
  }

  &__card_title {
    @include montserrat-font(16px, 500, 0.02em);
    padding: 6px 3vw;
    border-radius: 0 10px 0 10px;
    background-color: $buttons-color-green;
    color: $background-color;
  }
}

@media (max-width: 992px) {
  .homepage_categories {
    &__cards {
      grid-template-columns: repeat(2, 260px);
      grid-template-areas:
        'title card_1'
        'card_2 card_3';
      gap: 2rem;
    }

    &__title {
      align-self: center;
    }
  }
}

@media (max-width: 630px) {
  .homepage_categories__cards {
    grid-template-columns: 260px;
    grid-template-areas:
      'title'
      'card_1'
      'card_2'
      'card_3';
  }

  .homepage__title.homepage_categories__title {
    margin: 0;
  }
}
